.bgm {
  background-color: hsl(217, 54%, 11%);
  width: 1519px;
  height: 750px;
  position: relative;
}

body {
  margin: 0;
}

.cbgm {
  width: 22%;
  height: 76%;
  background-color: hsl(216, 50%, 16%);
  position: absolute;
  top: 90px;
  left: 595px;
  border-radius: 15px;
  box-shadow: 0 20px 3px 11px hsl(222, 54%, 11%), 0 22px 3px 32px hsl(221, 47%, 12%);

}

.equi {
  position: absolute;
  top: 12px;
  left: 16.5px;
  width: 90%;
  border-radius: 15px;
}

.equi:hover {}

h3 {
  position: absolute;
  top: 322px;
  left: 22px;
  text-align: left;
  font-family: 'Outfit', sans-serif;
  color: white;
}

h3:hover {
  color: hsl(178, 100%, 50%);
}

.para {
  color: hsl(215, 51%, 70%);
  position: absolute;
  top: 358px;
  left: 22px;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

.etthi {
  position: absolute;
  top: 444px;
  left: 21px;
}

.rate {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  position: absolute;
  top: 427px;
  left: 40px;
  color: hsl(178, 100%, 50%);

}

.clock {
  position: absolute;
  left: 225px;
  bottom: 107.5px;
}


.clockk{
  color: hsl(215, 51%, 70%);
  position: absolute;
  left: 250px;
  bottom: 94.5px;
  font-family: 'Outfit', sans-serif;
}

hr{
  background-color:hsl(215, 51%, 70%);
  width: 19rem;
  border: 0;
  height: 1px;
  position: absolute;
  bottom:78px;
  left: 15px;
}



.avatar{
  border: solid;
  border-radius: 100px;
  border-width: 2px;
  border-color: white;
  width: 35px;
  position: absolute;
  top : 507px;
  left: 28px;

}


.create{
  font-family: 'Outfit', sans-serif;
  color:hsl(215, 51%, 70%);
  position: absolute;
  top: 499px;
  left: 90px;


}


a{
  text-decoration: none;
  color: white;


}

a:hover{
  color:  hsl(178, 100%, 50%);
}


.trans{
  width:100px;
  height: 100px;
  position: absolute;
  top: 12px;
  left: 17.5px;
  width: 90%;
  background-color: rgb(0, 255, 247, 0.4);
  border-radius: 15px;
  height: 53%;
  opacity: 0;


}

.trans:hover{
  opacity: 1;

}

svg{
  position: absolute;
  top: 41%;
  left: 43%;
}
